    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: url('https://wisp.wispnet.org/resources/imgl/grey-tree_img(DSC_0045).JPG') no-repeat center center fixed;
      background-size: cover;
      color: #333;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Ensure full height of the viewport */
    }
    header {
      background-color: #f4f4f4;
      color: #333;
      padding: 10px 0;
      text-align: center;
    }
    footer {
      background-color: #333;
      color: #f4f4f4;
      text-align: center;
      padding: 10px 0;
      width: 100%;
      margin-top: auto; /* Push footer to the bottom */
    }